body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: 900;
    align-items: center;
    border: 0px;
}

ul {
    display: flex;
    gap: 20px;
 }

a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.awesome-container {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 20px;
    margin: -32px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}
.extra-bold {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 100px;
    height: 0px;
    background-color: #3882f6;
    color: white;
    text-align: center;
    border-style: none;
}

.center-text {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.text {
    display: flex;
    justify-content: space-around;
    align-self: baseline;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 10px;
    margin-top: 20px;
    padding: 20px;
    margin-left: -30px;
    margin-right: -30px;
    
}

.quote-text {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    padding: 200px;
}

.author {
    font-weight: 800;
    text-align: right;
}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    border-style: none;
    color: #E5E7EB;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin: auto;
    margin-top: 30px;
    flex-direction: row;
}

.cta-text {
    display: flex;
    flex-direction: row;

}

.button-two {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 5px;
    background-color: #3882f6;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    margin-left: px;
    margin-right: px;
    padding: 10px;
    margin-bottom: px;
    margin-top: auto;
}
